@import './global';

#app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: calc(.6em + 1vw);
  color: white;
  background-color: rgb(16, 37, 63);
  z-index: 1;
}

.slides { /*Default styles for all slides, i.e .current-slides*/
  position: fixed;
  top: 5vh;
  left: 5vw;
  transition: all 1s ease-out;
  height: 90vh;
  width: 90vw;
  background-color: rgb(40, 54, 83);
  box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, .6);
  //padding: 0px 10px;
  /*overflow: scroll;*/
  
  > * {
    transition: opacity 3s ease-out;
    opacity: 1;
  }
}

.current-slides {
  z-index: 2;
}

.next-slides {
  //height: 50%;
  top: 110%;
  z-index: 1;
  
  > * {
    transition: opacity 1s linear;
    opacity: 0;
  }
}

.previous-slides {
  left: 110%;
  z-index: 3;
  
  > * {
    transition: opacity .5s linear;
    opacity: 0;
  }
}

#next-slide-btn:focus {
  outline: none;
}

#next-slide-btn {
  position: fixed;
  bottom: -25px;
  right: 50vw;
  height: 50px;
  width: 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transform: translateX(50%);
  background-color: transparent;
  border: 1px solid rgb(5, 16, 29);
  cursor: pointer;
  opacity: .67;
  
  img {
    display: block;
    height: 25px;
    width: 100%;
    object-fit: contain;
    object-position: center bottom;
    transform: rotate(180deg);
    border: 1px solid goldenrod;
    animation: bounce 1s ease-out 5s infinite alternate none;
  }
}

#next-slide-btn.to-top {
  bottom: initial;
  top: -25px;
  justify-content: flex-start;
  border: 1px solid rgba(5, 16, 29, 0.4);
  opacity: .45;

  img {
    //object-position: center top;
    transform: rotate(0deg);
  }
}

@keyframes bounce {
  from {
    height: 26px;
  }
  to {
    height: 48px;
  }
}