* {
  box-sizing: border-box;
  text-align: center;
  max-width: 100vw;
}

:focus {
  outline: solid 1px goldenrod;
  outline-offset: 3px;
}

::selection {
  background-color: goldenrod;
  color: white;
}

:root {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  background-color: #283653;
  font-family: "Segoe UI", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  margin-block-start: 0;
  margin-block-end: 10px;  
  font-weight: 400;
}

h2 {
  font-weight: 300;
  margin-block-end: 15px;
}

p {
  font-weight: 200;
  margin-block-start: 0;
}

small {
  font-weight: 200;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
