:root {
  font-family: 'Open Sans', 'Segoe UI', Avenir, 'Century Gothic', Candara, Corbel, 'Lucida Sans', Geneva, 'Lucida Grande', Verdana, 'Trebuchet MS', sans-serif;
  font-size: calc(1em + 0.25vw);
  max-width: 100vw;
  --bg-color: rgb(235, 245, 255);
  --shadow-rgb: 0, 50, 255;
}

* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

:focus {
  outline: dotted 1px blue;
  outline-offset: 2px;
  text-decoration: none;
}

:active {
  outline: none;
}

a, a:visited {
  color: blue;
}

::selection {
  background-color: goldenrod;
  color: white;
}

body {
  max-width: 100vw;
  background-color: var(--bg-color);
}

h1 {
  font-weight: 600;
  font-size: 1.6em;
}

h2 {
  font-weight: normal;
  font-size: 1.5em;
}

img {
  object-fit: contain;
}

button {
  cursor: pointer;
}

.half-line-break {
  display: block;
  line-height: 0.4em;
}

.disabled {
  opacity: .5;
  box-shadow: none;
}
