:root {
  font-family: 'Open Sans', 'Segoe UI', Avenir, 'Century Gothic', Candara, Corbel, 'Lucida Sans', Geneva, 'Lucida Grande', Verdana, 'Trebuchet MS', sans-serif;
  font-size: calc(1em + 0.25vw);
  max-width: 100vw;

  --bg-color: hsl(210, 100%, 96%);
  --bg-color-secondary: hsl(210, 89%, 93%);

  --primary-color: hsl(210, 60%, 40%);
  --primary-color-text: hsl(210, 100%, 30%);
  --primary-color-contrast: var(--bg-color);

  --accent-color: hsl(20, 45%, 43%);
  --accent-color-text: hsl(20, 70%, 35%);
  --accent-color-contrast: var(--bg-color);

  --primary-color-grayed: hsl(210, 20%, 45%);
  --primary-color-grayed-hsl: 210, 20%, 45%;

  --primary-shadow-hsl: 228, 100%, 50%;
  --primary-shadow: 1px 1px 10px hsla(var(--primary-shadow-hsl), 0.5);
  --primary-shadow-large: 2px 2px 20px hsla(var(--primary-shadow-hsl), 0.6);

  --accent-shadow-hsl: 20, 80%, 20%;
  --accent-shadow: 1px 1px 10px hsla(var(--accent-shadow-hsl), 0.5);
  --accent-shadow-large: 1px 1px 15px hsla(var(--accent-shadow-hsl), 0.6);
}

* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

:active {
  outline: none;
}

a, a:visited {
  color: var(--primary-color-text);
  font-weight: 600;
  text-decoration: dotted underline;
  text-underline-offset: 3px;
}

a:hover {
  color: var(--accent-color-text);
}

a:focus {
  color: var(--accent-color-text);
  outline: dotted 2px currentColor;
  outline-offset: 2px;
  text-decoration: none;
}

::selection {
  background-color: var(--accent-color);
  color: var(--accent-color-contrast);
}

body {
  max-width: 100vw;
  background-color: var(--bg-color);
}

h1 {
  font-weight: 600;
  font-size: 1.6em;
  line-height: 1em;
  // text-transform: uppercase;

  small {
    display: block;
    margin-top: 7px;
    font-weight: normal;
    font-size: 0.7em;
    // text-transform: none;
  }
}

h2 {
  font-weight: normal;
  font-size: 1.5em;
}

img {
  object-fit: contain;
}

button {
  cursor: pointer;
}

.half-line-break {
  display: block;
  line-height: 0.4em;
}

.disabled {
  opacity: .5;
  box-shadow: none;
}

.d-block {
  display: block !important;
}

.color-dark-grey {
  color: #525252 !important;
}

.color-dark {
  color: #000 !important;
}

.color-unset {
  color: unset !important;
}

.hover-underline {
  text-decoration: none;

  &:hover {
    text-decoration: dotted underline;
  }
}

.fw-normal {
  font-weight: normal !important;
}

.color-light-grey {
  color: #6F6F6F !important;
}

ul, ol {
  padding-left: 20px;
}

.list-unstyled {
  list-style-type: none;
  padding-left: unset;
}

.list-noindent {
  padding-left: unset;
}

.sr-only {
  display: block;
  position: fixed;
  height: 0;
  width: 0;
  top: -1000vw;
  left: -1000vw;
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between !important;
}

.align-center {
  align-items: center !important;
}

.inline-icon {
  > svg,
  > img {
    height: 1em !important;
    width: 1em;
    display: inline-block;
    margin-right: 16px;
    vertical-align: middle;
  }
}

.inline-icon__icon {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: calc(0.2em + 16px);
  height: 1em;
  width: 1em;
  position: relative;
  left: 2px;
  top: 5px;
  > svg,
  > img {
    height: 1.2em !important;
    width: auto;
    flex-shrink: 0;
    display: inline-block;
    position: relative;
    left: -2px;
  }
}

.socials {
  .inline-icon {
    > svg,
    > img {
      height: 1.4em !important;
      width: auto;
      position: relative;
      top: 2.5px;
    }
  }

  .inline-icon__icon {
    // margin-right: calc(0.5em + 16px);
    height: 1.3em;
    width: 1.3em;
    > svg,
    > img {
      height: 1.5em !important;
    }
  }
}

.mb {
  margin-bottom: 16px;
}

.mb-l {
  margin-bottom: 24px;
}

.mb-xl {
  margin-bottom: 32px;
}

.mb-s {
  margin-bottom: 8px;
}

.mb-xs {
  margin-bottom: 4px;
}

.pt {
  padding-top: 16px;
}

.text-bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}
