.section {
  padding-top: 120px;
  &:not(:last-child) {
    margin-bottom: -60px;
  }
  display: flex;
  justify-content: center;
  align-items: flex-start;
  row-gap: 100px;
  column-gap: 100px;
  @media screen and (max-width: 800px) {
    flex-wrap: wrap-reverse;
  }

  &.is-hero &__wrapper {
    flex-shrink: 2;
  }

  h2 {
    margin-bottom: 15px;
    max-width: 600px;
    text-align: left;
  }

  p {
    margin-bottom: 20px;
    max-width: 600px;
    text-align: justify;
  }
}

.display-picture {
  display: block;
  object-fit: cover;
  object-position: center 20%;

  border: 1px solid var(--bg-color);
  border-radius: 1000px;
  box-shadow: 1px 1px 10px rgba(var(--shadow-rgb), 0.5);

  height: 200px;
  width: 200px;
  flex-shrink: 0;
  
  @media screen and (min-width: 1333px) {
    height: 15vw;
    width: 15vw;
  }

  @media screen and (min-width: 1666px) {
    height: 250px;
    width: 250px;
  }
}

.hr {
  margin-top: 160px;
}
