.section {
  padding-top: 120px;
  &:not(:last-child) {
    margin-bottom: -60px;
  }
  display: flex;
  justify-content: center;
  flex-wrap: wrap-reverse;
  align-items: flex-end;
  row-gap: 100px;
  column-gap: 100px;

  h2 {
    margin-bottom: 15px;
    max-width: 600px;
    text-align: left;
  }

  p {
    margin-bottom: 20px;
    max-width: 600px;
    text-align: left;
  }
}

.section-wrapper {
  flex-basis: 40vw;
  flex-grow: 10;
  flex-shrink: 2;
  @media screen and (max-width: 800px) {
    flex-shrink: 0;
  }
}

.display-picture {
  border: 1px solid var(--bg-color);
  border-radius: 1000px;
  box-shadow: 1px 1px 10px rgba(0, 0, 200, 0.5);

  // ...

  height: 15vw;
  width: 15vw;
  object-fit: cover;
  object-position: center 20%;
  display: block;

  @media screen and (min-width: 1666px) {
    height: 250px;
    width: 250px;
  }

  
  @media screen and (max-width: 1333px) {
    height: 200px;
    width: 200px;
  }
}

.hr {
  margin-top: 120px;
  //margin-bottom: 60px;
}
